* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

body>hr:first-of-type {
    width: 95%;
    margin: 0 auto;
}

/* NAV BAR STYLING: */
header {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0.5rem;
    align-items: center;
    background-color: #f5f5f5;
    z-index: 2;
    position: relative;
}

header h1 {
    font-size: 6rem;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header ul {
    display: flex;
}

header li {
    padding: 0 2.5rem;
    font-size: 2.5rem;
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.fa-bars {
    display: none;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: #0048ff;
}

/* BURGER MENU STYLINGS: */
body>nav {
    position: absolute;
    top: -8.8rem;
    transition: top 0.7s ease;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: rgb(86, 86, 86);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
}

body>nav ul li {
    padding: 1rem;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

body>nav ul li:active {
    background-color: black;
    color: #0048ff;
}

body>nav ul a {
    text-decoration: none;
    color: white;
}

/* RESPOSIVE DESIGN: */
@media only screen and (min-width: 769px) and (max-width: 1279px) {
    header h1 {
        font-size: 3rem;
    }

    header li {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 2rem 0.5rem;
    }

    header h1 {
        font-size: 2rem;
    }

    header nav {
        display: none;
    }

    .fa-bars {
        display: inline;
        font-size: 2rem;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .fa-bars:active {
        background-color: darkgray;
        transform: scale(0.90);
    }
}

/* CONTACT SECTION STYLING */
#contact {
    padding: 0 13rem;
    font-size: 1.8rem;
}

#contact h2 {
    font-size: 2.7rem;
    padding: 4rem 0;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#contact p {
    margin-left: 17rem;
    padding-right: 10rem;
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#contact p:first-of-type {
    padding-bottom: 2rem;
}

article {
    display: flex;
    justify-content: center;
}

form {
    padding: 4rem 9.2rem 4rem 0;
    display: grid;
    grid-template: auto auto auto auto / auto 1fr;
    align-items: center;
    justify-content: start;
    gap: 2rem 1rem;
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

label {
    justify-self: center;
}

form hr {
    grid-column: 2;
    margin: 0.9rem 3rem;
}

div {
    grid-column: 2;
    justify-self: center;

}

div input {
    box-shadow: none;
    padding: 1rem 4rem;
    margin: 0 1rem;
}

div input:hover {
    background-color: #fcf0ff;
}

button:hover {
    background-color: #fcf0ff;
}

button {
    box-shadow: none;
    padding: 1rem 4rem;
    justify-self: center;
    border-radius: 0.5rem;
    border: 0.1rem solid grey;
    font-size: 1.8rem;
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 1rem;
}

label:nth-of-type(3) {
    align-self: start;
}

input,
textarea {
    font-size: 1.8rem;
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 0.5rem;
    border: 0.1rem solid grey;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;

}

/* FOOTER SECTION STYLING: */
footer {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
}

footer nav {
    display: flex;
    justify-content: space-around;
    padding: 8rem 0.5rem 4rem;
    align-items: center;
}

footer h3 {
    font-size: 2.5rem;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul {
    display: flex;
}

footer li {
    padding: 0 2.5rem;
    font-size: 2rem;
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: #0048ff;
}

footer>ul {
    padding: 3rem 0 0;
    justify-content: center;
}

footer>ul li {
    padding: 0 2rem;
}

footer hr {
    width: 90%;
    margin: auto;
}

footer i {
    font-size: 2.5rem;
    cursor: pointer;
}

footer p {
    margin: 0 auto;
    padding: 4.5rem 0 4rem;
    font-size: 1.4rem;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer nav:nth-of-type(2) {
    display: none;
}

/* RESPONSIVE DESIGN: */
@media only screen and (max-width: 1279px) {
    footer {
        padding: 0 1rem;
    }

    footer nav {
        padding-top: 5rem;
    }

    footer hr {
        width: 95%;
    }
}

@media only screen and (max-width: 768px) {
    footer nav {
        padding: 4rem 0.5rem 0;
    }

    footer h3 {
        text-align: center;
    }

    footer nav:nth-of-type(1) ul {
        display: none;
    }

    footer nav:nth-of-type(2) {
        padding: 1rem 0;
        display: inline;
    }

    footer nav:nth-of-type(2) ul {
        flex-direction: column;
        align-items: center;
    }

    footer nav:nth-of-type(2) ul li {
        padding: 1rem;
    }

    footer nav:nth-of-type(2) ul li:active {
        color: #0048ff;
        transform: scale(90%);
    }

    footer p {
        text-align: center;
    }

    footer i:hover {
        color: inherit;
    }

    footer i:active {
        color: #0048ff;
        transform: scale(90%);
    }
}