* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

main,
footer {
    padding: 0 10rem;
}

body>hr:first-of-type {
    width: 95%;
    margin: 0 auto;
    border-bottom: 0;
}

/* NAV BAR STYLINGS: */
header {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0.5rem;
    align-items: center;
    background-color: #f5f5f5;
    z-index: 2;
    position: relative;
}

header h1 {
    font-size: 6rem;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header ul {
    display: flex;
}

header li {
    padding: 0 2.5rem;
    font-size: 2.5rem;
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.fa-bars {
    display: none;
}

header a:hover {
    color: #0048ff;
}

header a {
    color: black;
    text-decoration: none;
}

/* BURGER MENU STYLINGS: */
body>nav {
    position: absolute;
    top: -8.8rem;
    transition: top 0.7s ease;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: rgb(86, 86, 86);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
}

body>nav ul li {
    padding: 1rem;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

body>nav ul li:active {
    background-color: black;
    color: #0048ff;
}

body>nav ul a {
    text-decoration: none;
    color: white;
}

/* RESPOSIVE DESIGN: */
@media only screen and (min-width: 769px) and (max-width: 1279px) {
    header h1 {
        font-size: 3rem;
    }

    header li {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 2rem 0.5rem;
    }

    header h1 {
        font-size: 2rem;
    }

    header nav {
        display: none;
    }

    .fa-bars {
        display: inline;
        font-size: 2rem;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .fa-bars:active {
        background-color: darkgray;
        transform: scale(0.90);
    }
}

/* ABOUT SECTION STYLINGS: */
#about {
    display: flex;
    padding: 4rem 0;
    justify-content: center;
    align-items: center;
}

#about figure {
    width: 20%;
    margin-right: 15rem;
}

#about img {
    border-radius: 0.5rem;
}

#about article {
    width: 40%;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

#about article p {
    margin-top: 0.8rem;
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#about h2 {
    padding-bottom: 1rem;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#about figcaption {
    color: grey;
}

/* RESPONSIVE DESIGN: */
@media only screen and (min-width: 769px) and (max-width: 1279px) {
    main {
        padding: 0;
    }

    #about {
        padding: 0 0 3rem 0;
    }

    #about figure {
        margin-right: 5rem;
    }

    #about article {
        width: 50%;
    }

    #about h2 {
        font-size: 2rem;
    }

    #about article p {
        font-size: 1.5rem;
    }

    #about figcaption {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 900px) {
    #about figure {
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    main {
        padding: 0;
    }

    #about {
        padding: 0 0 3rem 0;
        display: flex;
        flex-direction: column;
    }

    #about h2 {
        font-size: 1.8rem;
    }

    #about figure {
        margin: 0;
        order: 1;
        width: 50%;
    }

    #about figcaption {
        text-align: center;
        font-size: 1.4rem;
    }

    #about article {
        text-align: center;
        width: 85%;
        font-size: 1.6rem;
    }
}

/* PROJECT SECTION STYLING: */
#projects {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

#projects h2 {
    margin-bottom: 1.8rem;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#projects details {
    margin-left: 17rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#projects details:hover {
    background-color: #fcf0ff;
}

#projects details[open]:hover {
    background-color: initial;
}

#projects summary {
    font-size: 2rem;
    cursor: pointer;
}

#projects figure {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

#projects figcaption {
    color: grey;
    margin: 0 auto;
    font-size: 1.6rem;
}

#projects hr {
    margin-left: 17rem;
}

#projects p {
    padding-right: 10rem;
    padding-bottom: 1rem;
}

#projects img {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

/* SKILLS SECTION STYLING: */
#skills {
    padding: 5rem 0;
    margin: 0 3rem;
    overflow: hidden;
    max-width: 118rem;
}

#skills h2 {
    font-size: 2.7rem;
    padding-bottom: 4rem;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#skills div {
    display: flex;
}

#skills ul {
    display: flex;
    margin-bottom: 2rem;
    min-width: 118rem;
}

#skills ul:first-of-type {
    transform: translateX(0rem);
    animation-name: moving-carosel;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#skills ul:nth-of-type(2) {
    transform: translateX(-236rem);
    animation-name: moving-carosel2;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moving-carosel2 {
    from {
        transform: translateX(-236rem);
    }

    to {
        transform: translateX(-118rem);
    }
}

@keyframes moving-carosel {
    from {
        transform: translateX(0rem);
    }

    to {
        transform: translateX(118rem);
    }
}

#skills ul li {
    list-style-type: none;
    width: 10rem;
    display: flex;
    justify-content: center;
    transition: transform 0.3s;
}

#skills ul li:hover {
    transform: scale(1.5);
}

#skills i {
    font-size: 5rem;
}

/* FOOTER SECTION STYLING: */
footer {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
}

footer nav {
    display: flex;
    justify-content: space-around;
    padding: 8rem 0.5rem 4rem;
    align-items: center;
}

footer h3 {
    font-size: 2.5rem;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul {
    display: flex;
}

footer li {
    padding: 0 2.5rem;
    font-size: 2rem;
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: #0048ff;
}

footer>ul {
    padding: 3rem 0 0;
    justify-content: center;
}

footer>ul li {
    padding: 0 2rem;
}

footer hr {
    width: 90%;
    margin: auto;
}

footer i {
    font-size: 2.5rem;
}

footer i:hover {
    color: #0048ff;
}

footer p {
    margin: 0 auto;
    padding: 4.5rem 0 4rem;
    font-size: 1.4rem;
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}